{% extends 'base.html' %}

{% block content %}
    <!-- {% for blog in blogs.all %} -->
        <!-- <div class="container"> -->
            <!-- <br> -->
            <!-- <div class="card"> -->
                <!-- <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date | date:"Y.m. d"}}</h6>
                    <p class="card-text">{{ blog.body }}</p>
                </div>
            </div>
            <br>
        </div>
    {% endfor %} -->
    <br>
    <div class="container">
        <form action="{% url 'create' %}">
            <textarea cols= 120 rows= 5 name="body"></textarea>
            <br>
            <br>
            <input class="btn btn-dark" type="submit" value="리스트 추가하기">
        </form>
    </div>

    <br>

    <div>
    {% for blog in blogs.all %}
        <div class="container">
            <br>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ blog.body }}</p>
                </div>
            </div>
            <br>
        </div>
    {% endfor %}
    </div>

    <!-- <div>
    {% for item in L %}
        {{ item }} <br>
    {% endfor %}
    </div> -->

    <br>
    <div>
    {{ random_result }}
    </div>
{% endblock %}
